.initialisation-section h2 {
    text-align: center;
}
.captcha-container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid gray;

    height: auto;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.captcha-sections{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid gray;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.figure-section, .direction-section{
    height: 90%;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.figure-img{
    height: 100%;
}
.direction-img{
    height: 50%;
}
.direction-section .btns-container{

    display: flex;
    padding: 10px;
    gap: 10px;
}
.direction-section .direction-btn{

    height: 80px;
    width: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.direction-btn:hover{
    background-color: rgb(135, 135, 135);
    cursor: pointer;
}
.captcha-validation-container{
    background-color: rgb(195, 255, 195);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    
    height: auto;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
}

.validation-section-btn{
    background-color: rgb(17, 184, 61);
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    font-weight: 600;
    color: white;
}
.validation-section-btn:hover{
    background-color: rgb(20, 161, 20);
    cursor: pointer;
}
.validation-section-btn:active{
    background-color: green;
}

.captcha-validate {

}
.captcha-randomize{
    background-color: blue;
}
